<div class="login-page">
    <div class="login-card">

        <h1>Hello!</h1>
        <p>Sign in to continue</p>

        <div class="message-container">
            @if (successMessage) {
                <div class="success-message">
                    {{ successMessage }}
                </div>
            }

            @if (errorMessage) {
                <div class="error-message">
                    {{ errorMessage }}
                </div>
            }
        </div>

        <form (ngSubmit)="login()">
            
            <input
                type="email"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
                required
            />

            <div class="password-container">

                <input
                    [type]="showPassword ? 'text' : 'password'"
                    placeholder="Password"
                    [(ngModel)]="password"
                    name="password"
                    required
                />

                <span
                    class="toggle-btn"
                    (click)="togglePassword()"
                >
                    @if (showPassword) {
                        <!-- Eye Off / Hide -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#475569" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path>
                            <line x1="1" y1="1" x2="23" y2="23"></line>
                        </svg>
                    } @else {
                        <!-- Eye / Show -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#475569" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    }
                </span>
                
            </div>

            <button
                type="submit"
                class="login-btn"
            >
                Login
            </button>

            <p class="switch-page">
                Don't have an account?
                <a routerLink="/register">Register here</a>
            </p>

        </form>
    </div>
</div>