<div class="register-page">
    <div class="register-card">

        <h1>Create Account</h1>
        <p>Register to continue</p>

        <div class="message-container">

            @if (successMessage) {
                <div class="success-message">
                    {{ successMessage }}
                </div>
            }

            @if (errorMessage) {
                <div class="error-message">
                    {{ errorMessage }}
                </div>
            }

        </div>

        <form (ngSubmit)="register()">

            <input
                type="text"
                placeholder="Username"
                [(ngModel)]="username"
                name="username"
                required
            />

            <input
                type="email"
                placeholder="Email"
                [(ngModel)]="email"
                name="email"
                required
            />

            <input
                [type]="showPassword ? 'text' : 'password'"
                placeholder="Password"
                [(ngModel)]="password"
                name="password"
                required
            />
            <span
                class="toggle-btn"
                (click)="togglePassword()"
            >
                {{ showPassword ? '🙈' : '👁️' }}
            </span>

            <button type="submit">
                Register
            </button>

        </form>

        <p>
            Already have an account?
            <a routerLink="/login">Login</a>
        </p>

    </div>
</div>